.name{
    color: rgb(70, 3, 3);
}
.elora-img{
    width: 200px;
    height: 200px;
    border: 1px solid;
    border-radius: 50%;
}
.profile{
   
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card{
    padding-left: 100px;
}